:root {
  --background: #211f1f;
  --orange: #ff4d08;
  --purple_100: #8337f0;
  --purple_30: #f0e5ff;
  --purple_50: #ccb1f3;
  --purple_70: #9e63f3;
}

body {
  background-color: var(--background);
  margin: 0rem 3rem 0rem;
}

@font-face {
  font-family: "transformers";
  src: url(../font//TransformersMovie.ttf);
}

@font-face {
  font-family: "old style";
  src: url(../font/bitstream-iowan-old-style-bold-bt-586c371d8d669.ttf);
}

h1 {
  font-family: transformers;
  font-size: 4rem;
  text-align: center;
  color: #ccb1f3;
  text-shadow: 0px 4px 4px var(--purple_100);
  margin: 6rem 0rem 0rem;
}

h2 {
  font-family: transformers;
  font-size: 2rem;
  color: #f0e5ff;
  text-shadow: 0px 4px 4px var(--purple_100);
  margin: 3rem 0rem 0rem;
}

p {
  color: var(--purple_30);
  font-family: old style;
  font-size: 1rem;
}
