---
import Layout from "../layouts/Layout.astro";
import "../styles/general.css";
// const response = await fetch(
//   "https://cxixbvbqvysobvilzvts.supabase.co/rest/v1/artist",
//   {
//     method: "GET",
//     headers: {
//       apikey:
//         "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4aXhidmJxdnlzb2J2aWx6dnRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA1MTA1ODAsImV4cCI6MjAyNjA4NjU4MH0.otcwFq8NXOsMpInRyBqcWEDfmC2mPYIB5gAnuiMKnlQ",
//     },
//   }
// );
// const data = await response.json();
// console.log("data", data);
---
<Layout>
  <section class="grid_1_1">
    <div>
<h1>Peggy Gou</h1>
<p>Peggy Gou is a renowned South Korean DJ, music producer, and singer who has gained great popularity within the electronic music scene. She was born on July 3, 1990, in Incheon, South Korea, but is based in Berlin, Germany.

  Gou began her career as a DJ in Seoul and later moved to Berlin to pursue her musical ambitions. Her sound can be described as a fusion of various electronic genres such as house, techno, and acid, with elements of disco and funk.
  
  She made her big breakthrough in 2016 with her debut EP "Art of War" and has since released music on reputable record labels such as Ninja Tune and Phonica Records. Her music has received praise from critics and fans alike for its innovative approach and irresistible rhythms.</p>
</div>
<div>
<img src="../../public/peggygou.jpg" alt="">
<section class="grid_1_1">
<h3>TIME AND WHERE?</h3>
<p>Saturday d. 21/06, 22:00-23:00
  Manegen</p>
<h3>GENRE:</h3>
<p>House, Techno & disco</p>
</section>
</div>
</section>
<img src="../../public/karruseltree.webp" alt="tree">
<h1>Line-up</h1>
</Layout>

<style>
  .grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0;
  margin: 0;
}
</style>
