---
import Layout from "../layouts/Layout.astro";
import "../styles/general.css";
import Ticket from "../components/Ticket.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <h1>Tickets</h1>
  <Ticket
    header="Karrusel 2024"
    type="Festival pass - Earlybird"
    text="Early Bird Festival Passes on sale until 1 April. "
    pris="800,-"
  />

  <Ticket
    header="Karrusel 2024"
    type="One day Festival Pass"
    text="This pass will give you acces til either thursday, friday or saturday. "
    pris="500,-"
  />
</Layout>
