---
import Layout from "../layouts/Layout.astro";
import "../styles/general.css";
---

<Layout>
  <main>
    <h1>Forside</h1>
    <img src="/Karrusel_sidste_karrusel.webp" alt="Karrusel" />
    <img src="/star_ja.svg" alt=" Stjerne" />
    <h1>COUNTDOWN TO FESTIVAL</h1>
  </main>
</Layout>
