---
import "../styles/general.css";
const {image, link, artist, alt, data} = Astro.props;
console.log(data);
---
<a href={`program/${data.slug}`}>
<section>
        <img class="cirkel" src={data.img} alt="{alt}">
        <h3>{data.artist_navn}</h3>
</section>
</a>

<style>
        .cirkel {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    img {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 8px 8px #ff4d08;
        border-radius: 50%;
    }

    a {
    text-decoration: none;
    }
</style>