---
const { buttonPosition } = Astro.props;
const farve = Astro.props.farve;
---

<button data-variant={buttonPosition} class="button-square" class={farve}>
  <p>Buy now</p>
</button>

<style>
  button {
    border: none;
  }
  .button-square {
    width: 203px; /* Adjust as needed */
    height: 65px; /* Adjust as needed */
    border-radius: 30px; /* Optional: Add rounded corners */
    background-color: #383535;
    padding: auto;
    position: absolute;
    top: 70%;
    left: 37%;
  }

  .forside_knap {
    background-color: #ff4d08;
    color: white;
  }
  p {
    font-family: transformers;
    font-size: 1.5rem;
  }
  [data-variant="left"] {
    top: 100%;
    left: 42%;
  }
  [data-variant="right"] {
    top: 75%;
    left: 38%;
  }
</style>
