---
const { buttonPosition } = Astro.props;
---

<button data-variant={buttonPosition} class="button-square">
  <p>Buy now</p>
</button>

<style>
  button {
    border: none;
  }
  .button-square {
    width: 203px; /* Adjust as needed */
    height: 65px; /* Adjust as needed */
    background-color: #383535;
    border-radius: 30px; /* Optional: Add rounded corners */
    padding: auto;
    position: absolute;
    top: 70%;
    left: 37%;
  }
  p {
    font-family: transformers;
    font-size: 1.5rem;
  }
  [data-variant="left"] {
    top: 60%;
    left: 15%;
  }
  [data-variant="right"] {
    top: 60%;
    left: 75%;
  }
</style>
