---
import "../styles/general.css";
import Button from "./Button.astro";
const { buttonPosition } = Astro.props;
---

<section class="countdown-container">
  <article>
    <h1 class="countdown-h">COUNTDOWN TO FESTIVAL</h1>
    <img
      src="https://timer-media.cannoli.app/media/timer/cc3fb5d9a00d4f6951bd3969ebcbfa0d8175104f09a21d6429f96e18d7233c04_t.gif"
      alt="tralalalalala"
    />
    <div class="nedtæller-text">
      <p>DAYS</p>
      <p>HOURS</p>
      <p>MIN</p>
      <p>SEC</p>
    </div>
  </article>
  <div class="button_class">
    <Button buttonPosition={buttonPosition} />
  </div>
</section>

<style>
  .button_class {
    position: relative;
    width: 100%; /*dette er så vi kan placere knappen ift til containerens størrelse*/
    height: 100%;
  }
  .countdown-container {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 190px;
  }

  .nedtæller-text {
    display: flex;
    justify-content: space-evenly;
  }

  /* Selvom p er i general css (og den er linket) så kan man stadig lave regler for den. fx: */
  .nedtæller-text p {
    margin-block-start: -10%;
    font-size: 2rem;
  }

  .countdown-h {
    color: #ccb1f3;
    margin-block-end: -12%;
    font-size: 3.5rem;
    position: relative;
  }
</style>
