---

---

<section class="footer-flex">
  <div class="flex-logo">
    <img src="/Logo.svg" alt="Logo" />
  </div>
  <div class="flex-address">
    <p>Address</p>
    <p>Refshalevej 193,</p>
    <p>1432 Copenhagen</p>
  </div>
  <div class="ikoner">
    <a href="https://soundcloud.com/ajagulris" target="_blank">
      <img src="/spotify_logo.svg" alt="Spotify" />
    </a>
    <a href="https://www.instagram.com/karruselfest/?hl=da" target="_blank">
      <img src="/instagram_logo.svg" alt="Instagram" />
    </a>
    <a
      href="https://www.youtube.com/channel/UC5oTcnNOxcoGaEOqKGVZzJQ/videos"
      target="_blank"
    >
      <img src="/youtube_logo.svg" alt="Youtube" />
    </a>
  </div>
</section>
<style>
  .footer-flex {
    display: flex;
    justify-content: space-between;
  }
</style>
