---
import "../styles/general.css";
---

<section class="midten">
  <figure>
    <img src="/Karrusel_sidste_karrusel.webp" alt="Karrusel" />
    <img src="/star_ja.svg" alt=" Stjerne" />
  </figure>
</section>

<style>
  .midten {
  }
  figure {
  }
</style>
