---
import "../styles/general.css";
---

<section class="midten">
  <img src="/Karrusel_sidste_karrusel.webp" alt="Karrusel" />
</section>

<style>
  .midten {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img {
    max-width: 750px;
  }
</style>
