---
import "../styles/general.css";
---

<section class="nav_grid">
  <div>
    <nav>
      <a href="/"><img src="/Logo.svg" alt="Karrusel logo" /></a>
    </nav>
  </div>
  <div>
    <p>22-24 august, 2024 - Copenhagen, Refshaleøen</p>
  </div>
  <div class="burger">
    <div class="hamburger"><div class="bar"></div></div>
    <nav class="mobile_nav">
      <a href="/buyticket">Buy Ticket</a>
      <a href="/program"> Program</a>
      <a href="/preyears">Earlier Years</a>
      <a href="/information">Information</a>
      <a href="/aboutus">About Us</a>
    </nav>
  </div>
</section>
<img class="tree" src="/karruseltree.webp" alt="Karrusel" />
<script>
  console.log("kode i navigation");
  const menu_btn = document.querySelector(".hamburger");
  const mobile_menu = document.querySelector(".mobile_nav");

  menu_btn.addEventListener("click", function () {
    menu_btn.classList.toggle("is-active");
    mobile_menu.classList.toggle("is-active");
  });
</script>

<style>
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 115%;
    height: 4px;
    background-color: #f0e5ff;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    position: relative;
    z-index: 100; /* z-index skal være højere end "mobile_nav" så man kan se krydset når menuen trækker ud*/
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
    position: relative;
    z-index: 100; /* z-index skal være højere end "mobile_nav" så man kan se krydset når menuen trækker ud*/
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }
  .mobile_nav {
    display: block;
    position: fixed;
    width: 100%;
    max-height: 100vh;
    top: 0;
    left: 100%; /*gør at man ikke kan se den der popper ud*/
    z-index: 98;
    background-color: #211f1f;
    padding-top: 120px;
    transition: 0.6s;
  }

  .mobile_nav.is-active {
    left: 0;
  }

  .mobile_nav a {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 16px;
    color: #ccb1f3;
    text-decoration: none;
    font-family: transformers;
    text-shadow: 0 4px 0px #9e63f3;
    font-size: 4rem;
  }
  .mobile_nav a:last-child {
    padding-bottom: 50rem;
  }

  .nav_grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  p {
    color: #f0e5ff;
  }

  .burger {
    justify-self: right;
    position: relative;
  }

  /* .tree-container {
    display: grid;
  } */
  .tree {
    right: 0%;
    overflow: hidden;
    top: -30px;
    position: absolute;
    max-width: 90%;
    z-index: -1;
    opacity: 0.7;
  }
</style>
