---

---
<div class="stjerne1_container">
    <img class="small_star" src="../../public/star_ja.svg" alt="" />
    <img class="big_star" src="../../public/star_ja.svg" alt="" />
  </div>
<style>
.stjerne1_container {
    position: absolute;
    right: 38%;
    top: -1%;
    transform: scaleX(-1);
  }
  .small_star {
    scale: 0.8;
  }
  
  .big_star {
    position: relative;
    top: -4.5rem;
    left: -2.5rem;
  }
  </style>